<footer>
  <div class="container-fluid bg-success mt-2">
    <div class="row">
      <div class="col-12 display-4 text-light font-weight-bold">
        Information
    </div>
    <div class="row">
      <div class="col text-light">
          Copyright ©2020 All rights reserved | This template is made with  by Colorlib
      </div>
    </div>
  </div>
</footer>