<h1 class=" container-fluid display-5 text-success bg-warning" >
  My Partner
  <div class="row  input-group bg-warning">
    <input type="text" class="col-10 form-control" placeholder="検索ワードを入力して下さい">
    <span class="input-group-btn">
      <button type="button" class="btn btn-default btn-success mb-4 mr-5  ">検索</button>
    </span>

    <div class="col-2   dropdown">
    <!-- 切替ボタンの設定 -->
    <button type="button" class="mb-4 btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      ー
    </button>
    <!-- ドロップメニューの設定 -->
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">マイページ</a>
      <a class="dropdown-item" href="#">アカウント編集</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">その他リンク</a>
    </div><!-- /.dropdown-menu -->
  </div><!-- /.dropdown -->
  </div>
</h1>