<style>
   {
  background: linear-gradient(-45deg, rgba(0, 255, 76, 0.8), rgba(136, 255, 0, 0.8)) fixed, url(https://cdn.pixabay.com/photo/2016/01/19/17/41/friends-1149841__480.jpg) fixed;
  background-size: cover;
}

h1 {
  background: linear-gradient(-45deg, rgba(0, 255, 76, 0.8), rgba(136, 255, 0, 0.8)) fixed, url(https://cdn.pixabay.com/photo/2016/01/19/17/41/friends-1149841__480.jpg) fixed;
  background-size: cover;
}

</style>

<h1 class=" container-fluid display-5 text-light" >
  My Partner
  <div class="row  input-group">
    <input type="text" class="col-10 form-control" placeholder="検索ワードを入力して下さい">
    <span class="input-group-btn">
      <button type="button" class="btn btn-default btn-success mb-4 mr-5  ">検索</button>
    </span>

    <div class="col-2   dropdown">
    <!-- 切替ボタンの設定 -->
    <button type="button" class="mb-4 btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      ー
    </button>
    <!-- ドロップメニューの設定 -->
    <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">マイページ</a>
      <a class="dropdown-item" href="#">アカウント編集</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">その他リンク</a>
    </div><!-- /.dropdown-menu -->
  </div><!-- /.dropdown -->
  </div>
</h1>